/DatabaseInterface.class
/Sha1.class
/Tester.class
/DatabaseMine.class
/DatabaseStandard.class
/PasswordCracker.class
/DatabaseMine$MyEntry.class
/DatabaseMine$Entry.class
/DatabaseMine$HashEntry.class
/DatabaseMine$MyHashEntry.class
